.errors {
    color: red;
    font-size: 16px;
}

#modal-content {
    background-color: white;
}

.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding-top: 1px; */
}

.log-in-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 400px;
    padding: 5px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 25px 25px;
    height: 55%;
    background-color: white;
}

.log-in-modal h1 {
    margin: 10px 0 0 0;
    font-size: 28px;
    font-family: inherit;
}

.log-in-modal form {
    color:#d7ebfb;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: large;
    margin-bottom: 20px;
}

.log-in-modal label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.log-in-modal input {
    color:#d7ebfb;
    width: 330px;
    border: 2px solid rgb(225, 223, 223);
    border-radius: 5px 5px;
    background-color:#d7ebfb ;
    height: 35px;
    font-size: 18px;
    /* padding-left: 10px; */
}

.log-in-modal input:hover {
    border: 1px solid rgb(10, 10, 10);
}

.log-in-modal button {
    width: 330px;
    height: 45px;
    font-family: inherit;
    font-weight: 50px;
    background-color: #0097fb;
    /* border-radius: 25px 25px; */
    color: white;
    font-size: 16px;
}

.log-in-modal .demo-user {
    font-family: inherit;
    font-weight: 50px;
    background-color: #0097fb;
    color: white;
}

.log-in-modal button:hover {
    transform: scale(1.02);
}

:disabled {
    background-color: rgb(222, 217, 217);
}
