/* TODO Add site wide styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial,sans-serif;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.footer-container {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
.page-container {
    position: relative;
    min-height: 100vh;
}
.content-container {
    padding-bottom: 12.5rem;
}
