.favoritesContainer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: 90%;
    padding: 20px 0 0 0;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px rgb(146, 144, 144) solid;
}

.favoritesContainer .product-image {
    object-fit: cover;
    min-height: 12rem;
    width: 100%;
    border-radius: 0;
}

.fav-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.recommond-products {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    width: 90%;
    padding: 20px 0 0 0;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.recommond-products .product-image {
    width: 95%;
    height: 10rem;
    border-radius: 5%;
}

#recommond-title {
    padding-top: 30px;
    font-size: 20px;
}
