@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Pacifico&display=swap');
.profile-dropdown {
  position: absolute;
}
.login-logout-modal{
  display:flex;
  font:inherit;
  width:130px;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  justify-content: space-between;
  border: 1px rgb(159, 157, 157) solid;
  padding: 10px 18px 10px 18px; 
  background-color: white;
  border-radius: 4px;
  z-index:10 ;
  position:fixed;
}



.logged-in-profile {
  display: flex;
  /* border:solid red 1px; */
  flex-direction: column;
  /* position: absolute; */
  border: 1px rgb(159, 157, 157) solid;
  background-color: white;
  margin-top: 7px;
  padding: 2px 6px 2px 8px; 
  gap: 5px;
  font:inherit;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 50px;
  z-index: 10;
  position:fixed; 
}


.hidden {
  display: none;
}
ul{
  list-style-type: none;
  color:black;
}
.navigation button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.profile-dropdown .signout-button {
  /* padding-top: 10px; */
  font-size: 16px;
  font-family: inherit;
}

.headerContainer  {
  display: flex;
  margin:0px;
  /* flex-direction: row; */
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  
  width: 100%;
  /* height: 110px; */
  top: 0;
  background-color: white;
}
/* ul.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 15px 0;
  gap:12rem;
} */

.navigation {
  /* display: flex;
  flex-direction: row; */
  display:grid;
  /* grid-template-columns: 2fr 10fr 8fr 2fr 2fr 2fr;  */
  grid-template-columns: 5fr 2fr 15fr 8fr 1fr 1fr 1fr;
  font-family: inherit;
  color:black;
  grid-gap:3.5rem;      
  border-bottom: solid 2px rgb(222, 219, 219);
  justify-content: space-between;
   align-items:center; 
  width: 100%;
  margin: 0;
  /* gap:12.5rem; */
  /* padding: 10px 0 15px 0;  */
  padding: 0 10px 0 26px;
}
.nologin {
  grid-template-columns: 5fr 2fr 15fr 8fr 1fr 1fr ;
}
.top-strip-container{
  padding: 0 16px 0 60px; 
  /* border:solid black 1px; */
  font-family: inherit;
  font-size: 13px;
  height: 100%;
  width:100%;
  background-color: black;
  margin: 0;
  box-sizing: border-box; 
}
.top-strip-container > ul{
  display:flex;
  text-align: center;
  padding:0.5rem;
  flex-direction: row; 
  color:white;
  gap:8rem;
}
.menu-container{
    align-items: center;
    /* box-sizing: border-box; */
    display: flex;
    height: 100%;
    margin: 0;
    /* padding: 0 10px 0 26px; */
}
.promotion-item-container{
  display:flex;
  flex-direction: column;
  /*margin-top: 50rem; */
}
.main-page-image{
  height:250px;
  width:100rem;

  /* margin-bottom: 10rem; */
}


 
.navigation form {
  font-family: inherit;
  border: solid  rgb(120, 120, 120) 2px;
  border-radius: 25px;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navigation input {
  font-family: inherit;
  border: none;
  width: 95%;
  font-size: 16px;
  padding-left: 10px;
}
.navigation input:focus {
  outline: none;
}
.fa-regular.fa-heart, .fa-solid.fa-cart-shopping, .fa-user-circle{
  color: black;
  /* font-size: medium; */
}
a{
  text-decoration: none;
  color:black;
}
.login-logout-modal > button{
    width: 110px;
    height: 35px; 
    /* padding:0.5rem;  */
    font-family: inherit;
    font-weight: 50px;
    background-color: #0097fb;
    border-radius: 25px 25px; 
    color: white;
    font-size: 14px;
}
button.signout-button{
        /* margin: 0 10px 0 0; */
        color: rgb(255, 255, 255);
        border-color: rgb(33, 150, 243);
        background-color: rgb(33, 150, 243);
        border-radius: 25px 25px;
        height: 35px;
        width: 100px; 
        margin-bottom: 1rem;
        margin-top: 1rem;
        /* padding-top: ; */
        /* display: inline-flex; */
       
    
}
.create-account > button{
  width: 110px;
  height: 35px; 
  border:solid rgb(33, 150, 243);
  /* padding:0.5rem;  */
  font-family: inherit;
  font-weight: 50px;
  background-color: white;
  border-radius: 25px 25px; 
  color: #0097fb;
  font-size: 14px;
}
