@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Pacifico&display=swap');
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
ul{
  list-style-type: none;
}

.headerContainer  {
  display: flex;
  margin:0px;
  /* flex-direction: row; */
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  
  width: 100%;
  /* height: 110px; */
  top: 0;
  background-color: white;
}

.navigation {
  display: grid;
  grid-template-columns: 2fr 8fr 1fr 1fr 1fr 1fr; 
  border-bottom: solid 2px rgb(222, 219, 219);
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0;
  padding: 10px 0 15px 0;
}
.top-strip-container{
  padding: 0 16px 0 60px;
  /* border:solid black 1px; */
  font-family: Roboto,Arial,sans-serif;
  font-size: 13px;
  height: 100%;
  background-color: black;
  margin: auto;
  box-sizing: border-box;
}
.top-strip-container > ul{
  display:flex;
  text-align: center;
  padding:0.7rem;
  flex-direction: row; 
  color:white;
  gap:8rem;
}
.menu-container{
  align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    margin: auto;
    padding: 0 21px 0 26px;
}
.promotion-item-container{
  display:flex;
  flex-direction: column;
  /*margin-top: 50rem; */
}
.main-page-image{
  height:250px;
  width:100rem;

  /* margin-bottom: 10rem; */
}
.navbar-image-below{
  display: flex;
  
  justify-content: space-between;
  gap:6rem;
}

 
/* .navigation form {
  border: solid  rgb(120, 120, 120) 2px;
  border-radius: 25px;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
} */
