@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Pacifico&display=swap');
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
ul{
  list-style-type: none;
}
.navigation button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.profile-dropdown .signout-button {
  padding-top: 10px;
  font-size: 16px;
  font-family: cursive;
}

.headerContainer  {
  display: flex;
  margin:0px;
  /* flex-direction: row; */
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  
  width: 100%;
  /* height: 110px; */
  top: 0;
  background-color: white;
}
/* ul.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 15px 0;
  gap:12rem;
} */

.navigation {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr 1fr 1fr; 
  grid-gap:3rem; 
  border-bottom: solid 2px rgb(222, 219, 219);
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 10px 0 15px 0;

  
}
.top-strip-container{
  padding: 0 16px 0 60px; 
  /* border:solid black 1px; */
  font-family: Roboto,Arial,sans-serif;
  font-size: 13px;
  height: 100%;
  width:100%;
  background-color: black;
  margin: 0;
  box-sizing: border-box; 
}
.top-strip-container > ul{
  display:flex;
  text-align: center;
  padding:0.7rem;
  flex-direction: row; 
  color:white;
  gap:8rem;
}
.menu-container{
    align-items: center;
    /* box-sizing: border-box; */
    display: flex;
    height: 100%;
    margin: 0;
    /* padding: 0 10px 0 26px; */
}
.promotion-item-container{
  display:flex;
  flex-direction: column;
  /*margin-top: 50rem; */
}
.main-page-image{
  height:250px;
  width:100rem;

  /* margin-bottom: 10rem; */
}


 
.navigation form {
  border: solid  rgb(120, 120, 120) 2px;
  border-radius: 25px;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navigation input {
  border: none;
  width: 95%;
  font-size: 16px;
  padding-left: 10px;
}
.navigation input:focus {
  outline: none;
}
