.products-order{
    width:65%;
    
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #fff;
    padding:5rem;
    /* justify-content: center;
    align-items: center; */
    gap: 4rem;  
}
.order-overall-total{
    
margin-top: 5rem;;
}
.order-div{
    margin-top: 1rem;
}
.order-div > button{
    background-color: white;
    color: rgb(35, 170, 226);
    border: 3px solid rgb(102, 204, 255);
    border-radius: 0px;
    width: 200px;
    align-items: center;
    padding:0.3rem 0.1rem;
    width:290px;
    font-weight: bolder;
    font-size: x-large;
    cursor:pointer;
    
    
}
