.delete-review-modal {
    gap: 20px;
}

.delete-review-modal h4 {
    color:black;
    align-items: center;
}

.delete-buttons {
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
