#carousel-wrapper ul.thumbs.animated {
    display: none;
}
#carousel-wrapper div.axis-horizontal.slider-wrapper{
    height:520px;
}
#carousel-wrapper ul.control-dots{
    display:none
}
#carousel-wrapper button.control-arrow.control-next{
    color:black;
    /* border:solid red;  */
     
}
#carousel-wrapper p.carousel-status{
    display:none;
}
#carousel-wrapper .control-next.control-arrow:before {
    border-left: 15px solid black;
        
}
#carousel-wrapper .control-prev.control-arrow:before {
    border-right: 15px solid black;
}
#carousel-wrapper .carousel-image{
    background-size: cover;
}
#carousel-wrapper div.carousel-root{
    height:520px;
}
/*  */



.bottom-strip-container{
        /* padding: 10px 16px 0 60px; 
        
        border:solid #d7ebfb 1px; 
        background-color:#e7f4fe;
        font-family: inherit;
        font-size: 13px;
        height: 100%;
        width:100%;
        margin: 0;
        box-sizing: border-box;  */
        background-color: #f4fafe;
        display: flex;
        height: 62px;
        justify-content: center;
        margin: auto;
        max-width: 2000px;
    }
  .bottom-strip-container > ul{
        /* display:flex;
        text-align: center;
        padding-top:0px;
        padding:0.5rem; 
        flex-direction: row; 
        color:black;
        gap:2rem; */
        /* margin:0px; */
        align-items: center;
        display: inline-flex;
        justify-content: center;
        width: 1440px;
        gap:4rem;
        
      }
    .bottom-strip-container > ul > li{
        /* border-right: solid black 1px;
        padding-right:7rem;
        font-size: 13px; */
        align-items: center;
        display: inline-flex;
        
        flex-direction: row;
        justify-content: center;
        /* background-color: #b0bdc5;
        height: 18px;
        margin: 0 24px 0 26px;
        width: 1px; */
}
      
.fa-solid.fa-star{
    color:green;
    } 
    .brand-strip-container{
        padding: 10px 16px 0 60px; 
        font-family: inherit;
        font-size: 14px;
        height: 100%;
        width:100%;
        margin: 0;
        box-sizing: border-box;   
    }
    .brand-strip-container > ul{
        
        display:flex;
        text-align: center;
        padding:0.5rem;
        flex-direction: row; 
        gap:7rem; 
      }
    .brand-strip-container > ul > li{
        border:solid #6d6d6d 2px;
        border-radius: 70px;
        padding:7px 16px;
    }
    .p1 {
        display: block;
        font-family: inherit;
        font-size: 28px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
        margin:60px 0px 8px;
        
    }
    .p2{
        text-align: center;
        font-family:inherit;
        font-size: 20px;

    }
    .down-button{
        margin: 0 18px 0 0;
        color: rgb(255, 255, 255);
        border-color: rgb(33, 150, 243);
        background-color: rgb(33, 150, 243);
        width: 249px;
        display: inline-flex;
    
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 100px;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    border: 0px;
    border-radius: 24px;
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 21px;
}




    
  
