#carousel-wrapper ul.thumbs.animated {
    display: none;
}
#carousel-wrapper div.axis-horizontal.slider-wrapper{
    height:520px;
}
#carousel-wrapper ul.control-dots{
    display:none
}
#carousel-wrapper button.control-arrow.control-next{
    color:black;
    /* border:solid red;  */
     
}
#carousel-wrapper p.carousel-status{
    display:none;
}
#carousel-wrapper .control-next.control-arrow:before {
    border-left: 15px solid black;
    
    
}
#carousel-wrapper .control-prev.control-arrow:before {
    border-right: 15px solid black;
}
#carousel-wrapper .carousel-image{
    background-size: cover;
}
#carousel-wrapper div.carousel-root{
    height:520px;
}



.bottom-strip-container{
        padding: 0 16px 0 60px; 
        border:solid #d7ebfb 1px; 
        background-color:#e7f4fe;
        font-family: inherit;
        font-size: 13px;
        height: 100%;
        width:100%;
        margin: 0;
        box-sizing: border-box; 
    }
  .bottom-strip-container > ul{
        display:flex;
        text-align: center;
        padding-top:0px;
        padding:0.5rem; 
        flex-direction: row; 
        color:black;
        gap:2rem;
        /* margin:0px; */
        
      }
    .bottom-strip-container > ul > li{
        border-right: solid black 1px;
        padding-right:7rem;
      }
.fa-solid.fa-star{
    color:green;
    } 
    .brand-strip-container{
        padding: 0 16px 0 60px; 
        font-family: inherit;
        font-size: 13px;
        height: 100%;
        width:100%;
        margin: 0;
        box-sizing: border-box;   
    }
    .brand-strip-container > ul{
        
        display:flex;
        text-align: center;
        padding:0.5rem;
        flex-direction: row; 
        gap:7rem; 
      }
    .brand-strip-container > ul > li{
        border:solid #6d6d6d 2px;
        border-radius: 70px;
        padding:0 16px;
    }
    .p1 {
        display: block;
        font-family: inherit;
        font-size: 28px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
        margin:60px 0px 8px;
        
    }
    .p2{
        text-align: center;
        font-family:inherit;
        font-size: 20px;

    }
  
