.product-list-maincontainer{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    gap:8rem;   
    justify-content: center; 
    background-color:#e7f4fe ;
     
}
.product-list-subcontainer{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap:0.5rem; 
    /* width:350px; */
}
.product-list-heart{
    align-items: center;
    display: flex;
    height: 22px;
    justify-content: space-between;
    position: relative;
    /* z-index: 10;  */
}
.title{
    text-decoration: none;
    font:inherit;
    text-align: center;
    font-weight: 700;
    
}
.price{
    text-decoration: none;
    font:inherit;
    text-align: center; 
    color: #89959c;
}
a{ 
  
  text-decoration: none; 
  width:350px; 
}
.product-list-heart{
    display: flex;
    justify-content: flex-end;
    
    
}
a.tool-tip {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    visibility: hidden;
    width: 150px; 
    background-color: #0097fb;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding:0.6rem;
    font-weight: 80px;
    margin-left: 10px;
    
    /* border-radius: 6px;
    padding: 5px 0; */
}
.tooltip-div{
    display: flex;
    justify-content: center;
}
.tooltip-container:hover a.tool-tip {
    visibility: visible;

  }
    
/* .product-list-container{
    width:300px;
}   */


img.product-image{
    height:auto;
    margin-top:20px; 
    width:100%;
    object-fit:contain;
    z-index: 10;  
}
