.shopping-cart-image{
    object-fit: contain;
    height: 10rem;
    width: 100%;
    border-radius: 0;

    
}
.product-in-order {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 8px;
    gap:10rem;
    margin-top:1rem;
    margin-bottom: 1rem;;
    
}
.delete-div-order > button{
    background-color: white;
    color: rgb(35, 170, 226);
    border: 3px solid rgb(102, 204, 255);
    border-radius: 0px;
    width: 200px;
    align-items: center;
    padding:0.3rem 0.1rem;
    font-size: larger;
    font-weight: bolder;
    
}
