.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.empty-cart div {
    padding-top: 30px;
    /* font-size: 20px; */
    color: black;
}


.cartpage {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartpage h1 {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 20px 0;
}

.product-in-cartpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    gap: 8rem; 
    margin-left: 5rem;
    /* align-items: flex-start; */
}


.checkout-btn {
    width: 330px;
    height: 45px;
    font-family: inherit;
    font-weight: 50px;
    background-color: #0097fb;
    /* border-radius: 25px 25px; */
    color: white;
    font-size: 16px;
}


.checkout-btn:hover {
    transform: scale(1.04);
}

.delete-item-in-cart-btn button {
    width: 130px;
    height: 30px;
    font-family: inherit;
    font-size: 16px;
    color: white;
    background-color: #0097fb;
    /* border-radius: 30px 30px; */
}

.delete-item-in-cart-btn:hover {
    transform: scale(1.02);
}
.item-in-shop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem;

}
/* .fa-solid.fa-cart-shopping{
    color: #23aae2;
    /* font-size: medium; */
 
.item-in-shop-info{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.delete-div > button{
    background-color: white;
    color: rgb(35, 170, 226);
    border: 3px solid rgb(102, 204, 255);
    border-radius: 0px;
    width: 200px;
    align-items: center;
    padding:0.3rem 0.1rem;
    
}
